#divesite #header li a.selected{
	background:url(../images/bg-menu.png) repeat-x 3px 2px;
	color:#CDC8AA;
}

#divesite #content{
	padding-bottom: 0px;
	
}

#content ul{
	list-style-type: none;
}


#content ul li{	
	position: relative;
	border-bottom:solid 1px #CFCFCF;
	padding:10px 0 40px 0;

}

#content ul li:last-child{
	border-bottom: none;
}

#content ul li blockquote{	
	width:380px;
}


#content ul li img {
	border:solid 1px #2C9688;
	position: absolute;
	right:0;
	top:35px;
}

#divesite h2{
 	color:#2C9688;
 	margin:15px 0 20px 0;
}

#divesite h1{
	margin-bottom: 20px;
}

blockquote p{
	margin:20px 0 10px 0;
}
