#home #header li a.selected{
	background:url(../images/bg-menu.png) repeat-x 3px 2px;
	color:#CDC8AA;
}

#home #home_content a{
	text-decoration: underline;
}

article{
	width:852px;
	height:425px;
	padding:8px 5px;
	background-color: #ffffff;
	overflow: hidden;
}

p{
	padding-right: 10px;
}
#home h1{
	margin:18px 0 20px 0;
}

#home h3{
	font:23px/30px "Times New Roman", Times, serif;
	
}
#home h2{
	margin-bottom: 10px;
	color:#316E66;
	font: 20px/30px "Times New Roman", Times, serif;
	text-transform:Uppercase;

}
#home h2.Tes{
	color:#2C9688;
}
#home h2.Tes{
	margin-bottom:5px;
}
#home h3{
	margin-bottom:30px;
}

#home_content ul{
	float:right;
	list-style-type:none;	
}
#home_content ul li{
	margin-bottom:10px; 
}

.box p{
	line-height: 1.5em;
}

#main{
	float: left;
	overflow: hidden;
	width:580px;
}


.box{
	background-color: #ffffff;
	margin-bottom: 15px;
	padding:15px 20px;
	
}

blockquote {
	position: relative;
}
blockquote span{	
	position: absolute;
	top:28px;
}

blockquote{
	padding-top:5px;
	padding-bottom:5px;
	border-top:dotted 1px #5A4535;
}

blockquote:last-child{
	border-bottom:dotted 1px #5A4535;
	margin-bottom: 5px;
}

.box:last-child span{
	float:right;
	color:#2C9688;
}


