#rooms #header li a.selected{
	background:url(../images/bg-menu.png) repeat-x 3px 2px;
	color:#CDC8AA;
}

#rooms #content{
	padding-bottom: 0px;
	
}

#content ul{
	list-style-type: none;
}

#content ul li{
	margin:30px 0 20px 0;
	padding-bottom:25px;
	position: relative;
	border-bottom:solid 1px #CFCFCF;
}

#content ul li:last-child{
	border-bottom: none;
}

#content ul li blockquote{
	position: absolute;
	right:0;
	top:3px;
	width:360px;
}

#content ul li img {
	border:solid 1px #2C9688;
}

#rooms h2{
 	color:#2C9688;
 	margin-bottom:40px;
}

#rooms h1{
	margin-bottom: 50px;
}

blockquote p{
	margin-bottom:60px;
}

blockquote price{
	padding:10px 20px 10px 20px;
	border:solid 1px #5A4535;
	color: #2C9688;
	 font:16px/35px "Times New Roman",Times,serif;
}