*{
	margin: 0;
	padding: 0;
}

body {
	background:url(../images/bg-pattern.jpg) repeat-x left top,
	url(../images/bg-body.jpg) repeat left bottom;
	font-family:"Times New Roman", Times, serif;
	color:#5A4535;
	line-height: 1.9em;
	font-size:16px;
}



h1{
	color:#316E66;
	margin-top:10px;
	font: 29px/30px "Times New Roman", Times, serif;
	text-transform:Uppercase;
}
h2{
	color:#316E66;
	font: 24px/30px "Times New Roman", Times, serif;
	text-transform:Uppercase;
}

h3{
	font:22px/30px "Times New Roman", Times, serif;
	
}

a{
	color:#5A4535;
	text-decoration: none;
}
a:hover{opacity:0.6;}





#wrapper{
	margin:0px auto ;
	padding:20px 50px 0 40px;
	width:880px;	
	overflow: hidden;
	
}

#header ul{
	background: url(../images/bg-navigation.png) no-repeat;	
	list-style-type:none;
	overflow:hidden;
	margin-bottom: 25px;
}

#header ul li{
	float:left;
	width:123px;
	height:50px;
	background: url(../images/bg-menu.png) no-repeat right 100%;	
}

#header ul li a{
	text-decoration: none;
	color:#ffffff;	
	text-align: center;	
	font-size:95%;
	line-height:3.5em;
	display: block;	
	
}

#header ul li:last-child{
	width:125px;
	background: none;
}

#header ul li a:not(.selected):hover{
	background:url(../images/bg-menu.png) repeat-x left 49%;
	color:#6D6157;
	font-weight: bold;
}

#header img{
	margin-bottom:20px;
}



#content{
	width:782px;
	background-color: #ffffff;
	padding:20px 40px 200px 40px;
	margin-bottom: 20px;	
}

#content a{
	text-decoration: underline;
}


#footer{
	clear:both;
	width:872px;
}

#footer ol{
	
	background-color:#AC9E94;
	padding:0 20px 0 15px;
	overflow:hidden;
	border-bottom: solid 1px #7D726A;

}


#footer ul li{
	list-style-type: none;
	float:left;
}

#footer li a:hover{
	opacity:1;
}


#footer ul:first-child li a{	
	padding:10px;
	color:#594334;		
	line-height: 2em;
	display: block;
	text-decoration: none;
}
#footer ul li a.selected{
	color:#ffffff;
}

#footer ul:first-child li a:not(.selected):hover{
	color:#EEE7C3;
}
#footer ul:last-child{	
	float:right;
	padding-top:5px;	
}

#footer ul:last-child li{	
	padding:20px 15px 10px 15px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
}
#footer ul li.pinterest{background-position: 0 -25px;}
#footer ul li.pinterest:hover{background-position:0 8px;}
#footer ul li.facebook{background-position: 0 -89px;}
#footer ul li.facebook:hover{background-position: 0 -56px;}
#footer ul li.twitter{background-position: 0 -156px;}
#footer ul li.twitter:hover{background-position:0 -123px;}
#footer ul li.google{background-position: 0 -223px;}
#footer ul li.google:hover{background-position:0 -190px; }


#footer p{
	clear:both;
	text-align: center;
	margin-top: 20px;
	color:#594334;
}

